python-jose
load-dotenv
python-dotenv
fastapi
httpx
uvicorn
pydantic
sqlalchemy
redis
redis[hiredis]
pytest
black
pytest-asyncio
PyJWT
passlib
pydantic[email]
email-validator
python-multipart
alembic
asyncpg
bcrypt
